@charset "utf-8";
/* CSS Document */
/* CSS RESET*/
*{
	margin:0;
	padding:0;
	border:0;
	}
a {
text-decoration:none;
}
.index{
 top: 0; bottom: 0; position: absolute; left: 0; right: 0; background:url('../images/cja.jpg') center -73px;overflow: scroll;
}

.arc_content{
text-shadow: 1px 1px 1px #fff;
}
/* @group head styles
-----------------------------------------------------*/

/* @group left styles
-----------------------------------------------------*/

/* @group center styles
-----------------------------------------------------*/
.center {
width: 80%;
min-width: 310px;
max-width:460px;
margin:40px auto 40px auto;
background: rgba(0, 0, 0, 0.36);
border-radius: 25px;
padding-top: 20px;
box-shadow: 1px 3px 7px 3px #000;
padding-bottom: 20px;
}
.fr-title {
text-align: center;
font-size: 23px;
color: #fff;
text-shadow: 0px 1px 1px #000;
}
.logo {
display: block;
margin: 17px auto 59px auto;
width: 258px;
}.title2 {
text-align: center;
font-size: 20px;
color: #fff;
text-shadow: 0px 1px 2px #000;
font-weight: 700;
}.form_box {
width: 87%;
margin: 12px auto 0 auto;
overflow: hidden;
padding: 6px;
}.text_box {
background: #e2e3e8;
margin: 0px auto;
height: 55px;
border-radius: 4px;
box-shadow: 0px 0px 10px -3px;
width: 100%;
}.submit_btn {
display: block;
margin-top: 10px;
border-radius: 10px;
}.submit_btn span {
width: 100%;
display: inline-block;
height: 36px;
background: #ff6600;
color: #fff;
font-weight: bold;
font-size: 13px;
line-height: 36px;
text-align: center;
border-radius: 8px;
}

.textbox {
width: 44%;
height: 33px;
border-radius: 4px;
border: 1px solid #A8A8A8;
outline: none;
box-shadow: inset 0px 0px 7px 0px #dfdfdf;
margin: 9px 0 0 3%;
}
.tip {
text-align: center;
font-size: 12px;
color: #C2A2A2;
text-shadow: 0px 1px 2px #000;
font-weight: 700;
margin-bottom: 12px;
}
.copy {
text-align: center;
color: #fff;
font-weight: bold;
}
.copy a {
color: #fff;
}
.sy {
position: absolute;
bottom: 11px;
right: 26px;
font-size: 20px;
padding: 11px 39px;
background: rgba(0, 0, 0, 0.07);
box-shadow: 1px 5px 7px 1px #000;
color: #fff;
border-radius: 10px;
text-shadow: 0px 1px 1px #000;
}


#ds-thread #ds-reset .ds-comment-body {
padding-left: 60px;
color: #000;
}
/* @second   styles
-----------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	border: 0
}

ul,li {
	list-style-type: none
}

.clearfix:before,.clearfix:after {
	display: table;
	content: " "
}

.clearfix:after {
	clear: both
}

.cj-ui {
	background-image: url(../images/cj-ui.png);
	background-size: 100%;
}

.ui-un {
	background-position: 0 -50px;
}
.ui-0 {
	background-position: 0 0px;
}
.ui-50 {
	background-position: 0 -100px;
}
.ui-60 {
	background-position: 0 -150px;
}
.ui-80 {
	background-position: 0 -200px;
}
.ui-100 {
	background-position: 0 -250px;

}
.cj-wrap {
	min-width: 300px;
	max-width: 700px;
	width: 90%;
	margin: 0 auto;
}

.cj-second{
	display: none;
}

.cj-item {
	background: #fff;
	border-radius: 3px;
	margin-bottom: 12px;
	font-size: 14px;
	cursor: pointer;

}
.cj-top {
	position: relative;
	height: 30px;
	clear: both;
	padding-left: 11px;
	border: 2px solid #ccc;
	border-radius: 15px;
}
.cj-box .title {
	text-align: center;
	line-height: 30px;
	float: left;
	word-break: break-all
}
.cj-box .content {
	position: absolute;
	line-height: 45px;
	text-align: center;
	width: 47px;
	height: 47px;
	right: -8px;
	top: -8px;
}
.cj-info {
	display: none;
	padding: 4px 20px;
	margin: 0px 11px;
	background: #E4E0E0;
	border-radius: 0 0 7px 12px;
	background-image: -webkit-linear-gradient(top, #F7F6F6, #e6e0df);
}
.de-title, .de-content {
float: left;
width: 50%;
line-height: 25px;
}
.cj-title {
	text-align: center;
	font-size: 19px;
	margin: 10px
}

.cj-tip {
	font-size: 14px;
	margin: 12px
}

.cj-tip2 {
	font-size: 14px;
	margin: 12px;
	text-align: center
}

.cj-tip3 {
	font-size: 12px;
	padding: 10px;
	text-align: center
}

.cj-tip3 a {
	display: block;
	width: 117px;
	line-height: 26px;
	text-align: center;
	border-radius: 7px;
	background: #8bb1f5;
	color: #fff;
	text-decoration: none;
	margin: 10px auto
}
.loading {
	text-align: center;
	display: block;
}

/* @group messge styles
-----------------------------------------------------*/

.cj-message-tip {
    padding: 10px;
    font-size: 14px;
}

.cj-message-get {
    background: #5BEDE2;
    color: #2D10DF;
    width: 97%;
    line-height: 30px;
    display: none;
    text-align: center;
}


/* @group   styles
-----------------------------------------------------*/
